<template>
  <div class="home-page">
    <mcv-banner></mcv-banner>
    <div class="container page">
      <div class="row">
        <div class="col-md-9">
          <mcv-feed-toggler :tag-name="tagName"></mcv-feed-toggler>
          <mcv-feed :api-url="apiUrl"></mcv-feed>
        </div>
        <div class="col-md-3">
          <mcv-popular-tags></mcv-popular-tags>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import McvBanner from '@/components/Banner'
import McvFeed from '@/components/Feed'
import McvFeedToggler from '@/components/FeedToggler'
import McvPopularTags from '@/components/PopularTags'

export default {
  name: 'McvYourFeed',
  components: {
    McvBanner,
    McvFeed,
    McvFeedToggler,
    McvPopularTags
  },
  computed: {
    tagName() {
      return this.$route.params.slug
    },
    apiUrl() {
      return `/articles?tag=${this.tagName}`
    }
  }
}
</script>